configuration {
    font: "JetBrainsMono Nerd Font 18";
    line-margin: 10;

    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    display-calc:  "";
    display-power-menu:  "";
    show-icons:     false;
}


@theme "~/.config/rofi/nord.rasi"

listview {
	lines: 6;
	columns: 2;
}

window {
	width: 50%;
}
